<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optimists.techunt2k19">
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.optimists.techunt2k19.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.optimists.techunt2k19.MainActivity"
            android:screenOrientation="portrait"
            android:label="TecHunt" />
        <activity
            android:name="com.optimists.techunt2k19.TeamlLogin"
            android:label="Team Login"
            android:screenOrientation="portrait"
            android:parentActivityName="com.optimists.techunt2k19.MainActivity" />
        <activity
            android:name="com.optimists.techunt2k19.RulesStart"
            android:label="Rules"
            android:screenOrientation="portrait"
            android:parentActivityName="com.optimists.techunt2k19.TeamlLogin" />
        <activity
            android:name="com.optimists.techunt2k19.NavRules"
            android:label="Rules"
            android:screenOrientation="portrait"
            android:parentActivityName="com.optimists.techunt2k19.MainActivity" />
        <activity
            android:name="com.optimists.techunt2k19.AboutGame"
            android:screenOrientation="portrait"
            android:label="About The Game"
            android:parentActivityName="com.optimists.techunt2k19.MainActivity" />
        <activity
            android:name="com.optimists.techunt2k19.OurSociety"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.optimists.techunt2k19.Developer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.optimists.techunt2k19.TeamQuiz"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>